<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <div class="nav01">
          <img src="https://pngimg.com/uploads/amazon/amazon_PNG11.png" />
        </div>
        <div class="nav02">
          <div class="nav02img">
            <img src="../Img/location.png" alt="" srcset="" />
          </div>
          <div class="nav02text">
            <span>Deliver To</span><br />
            <span>India</span>
          </div>
        </div>
        <div class="nav03">
          <button>
            All
            <img src="../public/Img/downward-arrow.png" alt="" srcset="" />
          </button>
          <input type="text" placeholder="Search Amazon" />
          <button><img src="../Img/search.png" alt="" srcset="" /></button>
        </div>
        <div class="nav04">
          <img src="../Img/Flag_of_the_United_States.png" alt="" srcset="" />
          EN
        </div>
        <div class="nav05">
          <span>Account & Lists</span>
        </div>
        <div class="nav06">
          <span
            >Returns <br />
            & Order</span
          >
        </div>
        <div class="nav07">Cart</div>
      </nav>
    </header>
    <div class="subHeader">
      <ul>
        <li>All</li>
        <li>Today's Deals</li>
        <li>Customer Service</li>
        <li>Dhruv's Amazon.com</li>
        <li>Buy Again</li>
        <li>Sell</li>
        <li>Gift Cards</li>
        <li>Browsing History</li>
        <li>Registry</li>
      </ul>
    </div>

    <main>
      <div class="mainImg">
        <div class="ListingImage">
      <% images.forEach((value) => {%>
        <img src="<%= value %>" alt="">
      <% });%> 
    </div>
        <div class="mainBigImage image-container" id="image-container">
          <% images.forEach((value, index) => {
            if (index === 0) { %>
              <img src="<%= value %>" alt="">
            <% }
          }); %>
          <div id="mouse-overlay"></div>
          <div id="overlay"></div>
        </div>
      </div>
      <div class="mainContent">
        <div class="Content">
          <div class="AmazonHeading">
            <h1 id="AmazonTitle"></h1>
            <a href="#">Visit the Atlantic Naturals Store</a>
            <div class="ratingDiv">
              <div class="stars">
                <div class="starNumber">4</div>
                <div class="starImage">
                  <img src="../Img/rating.png" alt="" srcset="" />
                  <img src="../Img/down.png" alt="" srcset="" />
                </div>
              </div>
              <div class="rating">
                <a href="#">851 ratings</a>
              </div>
              <span>|</span>
              <div class="searchPage">
                <a href="#">Search this page</a>
              </div>
            </div>
            <hr width="90%" />
            <h3 id="Price"></h3>
          </div>
          <div class="brandDetail">
            <div>
              <h2>
                This item cannot be shipped to your selected delivery location.
                Please choose a different delivery location.
              </h2>
            </div>
            <div>
              <table>
                <tr>
                  <td><b>Brand</b></td>
                  <td id="detail01"></td>
                </tr>
                <tr>
                  <td><b>Item Form</b></td>
                  <td id="detail02"></td>
                </tr>
                <tr>
                  <td><b>Manufacturer</b></td>
                  <td id="detail03"></td>
                </tr>
                <tr>
                  <td><b>Item Package Quantity</b></td>
                  <td id="detail04"></td>
                </tr>
                <tr>
                  <td><b>Package Information</b></td>
                  <td id="detail05"></td>
                </tr>
              </table>
            </div>
            <hr width="90%" />
          </div>
          <div id="BulletPoints">
            <ul>
              <h2>About this item</h2>
              <li id="AmazonSubTitle01"></li>
              <li id="AmazonSubTitle02"></li>
              <li id="AmazonSubTitle03"></li>
              <li id="AmazonSubTitle04"></li>
              <li id="AmazonSubTitle05"></li>
              <li id="AmazonSubTitle06"></li>
            </ul>
          </div>
        </div>
        <div class="sideMenu" onclick="showSideMenu()">
          <img src="../Img/list.svg" alt="" />
        </div>
        <div class="div" style="width: 40%"></div>
        <form class="dashboard" method="post" action="/">
          <span id="removeApp" onclick="removeSideMenu()"
            ><img src="../Img/x-square.svg" alt="" srcset=""
          /></span>
          <div class="dashboard01">
            <label>Title:</label>
            <textarea
              cols="30"
              rows="2"
              onchange="dashboardHeading(value)"
              placeholder="Title...."
              name="title"
            ></textarea>
          </div>
          <div class="dashboard02">
            <label>Bullet Points:</label>
            <textarea
              id="input-field01"
              cols="30"
              rows="1"
              placeholder="1. Bullet Points...."
              name="bulletPoint01"
            ></textarea>
            <textarea
              id="input-field02"
              cols="30"
              rows="1"
              placeholder="2. Bullet Points...."
              name="bulletPoint02"
            ></textarea>
            <textarea
              id="input-field03"
              cols="30"
              rows="1"
              placeholder="3. Bullet Points...."
              name="bulletPoint03"
            ></textarea>
            <textarea
              id="input-field04"
              cols="30"
              rows="1"
              placeholder="4. Bullet Points...."
              name="bulletPoint04"
            ></textarea>
            <textarea
              id="input-field05"
              cols="30"
              rows="1"
              placeholder="5. Bullet Points...."
              name="bulletPoint05"
            ></textarea>
            <textarea
              id="input-field06"
              cols="30"
              rows="1"
              placeholder="6. Bullet Points...."
              name="bulletPoint06"
            ></textarea>
          </div>

          <div class="dashboard03">
            <label>Image:</label>
            <a id="imageUploadButton" onclick="uploadImage()">Upload Image</a>
          </div>
          <div class="dashboard04">
            <label>Brand Deatils:</label>
            <textarea
              name="price"
              id="brandDetail-input0"
              onchange="brandDetailInput(event)"
              cols="30"
              rows="1"
              placeholder="1. Price...."
            ></textarea>
            <textarea
              name="brandName"
              id="brandDetail-input01"
              onchange="brandDetailInput(event)"
              cols="30"   
              rows="1"
              placeholder="1. Brand...."
            ></textarea>
            <textarea
              name="itemForm"
              id="brandDetail-input02"
              onchange="brandDetailInput(event)"
              cols="30"
              rows="1"
              placeholder="2. Item Form...."
            ></textarea>
            <textarea
              name="manufacture"
              id="brandDetail-input03"
              onchange="brandDetailInput(event)"
              cols="30"
              rows="1"
              placeholder="3. Manufacturer...."
            ></textarea>
            <textarea
              name="quantity"
              id="brandDetail-input04"
              onchange="brandDetailInput(event)"
              cols="30"
              rows="1"
              placeholder="4. Item Package Quantity...."
            ></textarea>
            <textarea
              name="PackageInfo"
              id="brandDetail-input05"
              onchange="brandDetailInput(event)"
              cols="30"
              rows="1"
              placeholder="4. Package Information...."
            ></textarea>
          </div>
          <div class="dashboard05">
            <label>A+ Image:</label>
            <a id="imageUploadButton" onclick="uploadImage2()"
              >Upload A+ Image</a
            >
          </div>
          <button id="uploadImagesToServer" type="submit"> Save Content </button>
        </form>
      </div>
    </main>
    <div class="AplusImage"></div>


    <main class="app">
      <span id="cross">&times;</span>
      <div class="header">
        <h2>Upload Images</h2>
        <div class="server-message"></div>
      </div>

      <div class="input-div">
        <p>Drag & Drop Images Here Or <span class="browse">Browse</span></p>
        <input
          type="file"
          class="file"
          multiple="multiple"
          accept="image/png, image/jpeg, image/jpg"
        />
      </div>

      <form id="saved-form">
        <div class="header">
          <h3>Saved In Server</h3>
          <button type="submit">Delete</button>
        </div>
        <div class="saved-div"></div>
      </form>

      <form id="queued-form">
        <div class="header">
          <h3>Queued In Frontend</h3>
          <button type="submit">Upload</button>
        </div>
        <div class="queued-div"></div>
      </form>
    </main>

    <script>
      let queuedImageArray = [],
        savedForm = document.querySelector("#saved-form"),
        uploadImagesToServer = document.querySelector("#uploadImagesToServer"),
        queuedForm = document.querySelector("#queued-form"),
        savedDiv = document.querySelector(".saved-div"),
        queuedDiv = document.querySelector(".queued-div"),
        inputDiv = document.querySelector(".input-div"),
        input = document.querySelector(".input-div input"),
        serverMessage = document.querySelector(".server-message"),
        savedImages = JSON.parse('<%-JSON.stringify(images)%>'),
        deleteImages = [];

      // SAVED IN SERVER IMAGE
      if(savedImages) displaySavedImages()

      function displaySavedImages(){
        let images = "";
        savedImages.forEach((image, index) => {
        images += `<div class="image">
        <img src="http://localhost:5000/uploads/${image}" alt="image">
        <span onclick="deleteSavedImage(${index})">&times;</span>
        </div>`;
        });
        savedDiv.innerHTML = images
      }

      function deleteSavedImage(index){
        deleteImages.push(savedImages[index])
        savedImages.splice(index, 1)
        displaySavedImages();
      }

      savedForm.addEventListener("submit",(e)=>{
        e.preventDefault();
        deleteImagesFromServer();
      })

      function deleteImagesFromServer(){
        fetch('/deleteImage', { 
            method: 'PUT',
            headers: {
                'Accept' : 'application/json, text/plain, */*',
                'Content-Type' : 'application/json'
            },
            body: JSON.stringify({deleteImages})
        })
        .then(Response =>{
            if(Response.status == 200) throw Error(Response.statusText)
            deleteImages = [];
            serverMessage.innerHTML = Response.statusText
            serverMessage.style.cssText = "background-color: #f8d7da; color: #b71c1c"
        })
        .catch(error=>{
            serverMessage.innerHTML = error
            serverMessage.style.cssText = "background-color: #d4edda; color: #1b5e20;"
        })
      }

      // QUEUED IN FRONTEND IMAGEES
      input.addEventListener("change", () => {
        const files = input.files;
        for (let i = 0; i < files.length; i++) {
          queuedImageArray.push(files[i]);
        }
        queuedForm.reset();
        displayQueuedImages();
      });

      inputDiv.addEventListener("drop", (e) => {
        e.preventDefault();
        const files = e.dataTransfer.files;
        for (let i = 0; i < files.length; i++) {
          if (!files[i].type.match("image")) continue;

          if (queuedImageArray.every((Image) => Image.name !== files[i].name))
            queuedImageArray.push(files[i]);
        }
        displayQueuedImages();
      });

      function displayQueuedImages() {
        let images = "";
        queuedImageArray.forEach((image, index) => {
        images += `<div class="image">
        <img src="${URL.createObjectURL(image)}" alt="image">
        <span onclick="deleteQueuedImage(${index})">&times;</span>
        </div>`;
        });

        queuedDiv.innerHTML = images
      }

      function deleteQueuedImage(index){
        queuedImageArray.splice(index, 1);
        displayQueuedImages();
      }

      queuedForm.addEventListener("submit",(e)=>{
        e.preventDefault();
      })

      uploadImagesToServer.addEventListener("click",sendQueuedImagesToServer)

      function sendQueuedImagesToServer(){
        const formData = new FormData(queuedForm);
        queuedImageArray.forEach((image,index)=>{
            formData.append(`file[${index}]`,image)
        })

        fetch('/',{
            method: 'POST',
            body: formData
        })

        .then(Response =>{
            if(Response.status !== 200) throw Error(Response.statusText)
            location.reload();
        })
        .catch(error =>{
            serverMessage.innerHTML = error
            serverMessage.style.cssText = "background-color: #f8d7da; color: #b71c1c"
        })
      }

    </script>

    <script src="script.js"></script>
  </body>
</html>
